{% extends '::base.html.twig' %}

{% block body -%}
   <table>
       <tr>
       <th>database1</th>
       <th>database2</th>

       </tr>
       <tr>
       {% for i in 0..5 %}
          {% if conf.database1[i] == null %}
           <td>null</td>
           <td>null</td>
          {% else %}
           <td>{{ conf.database1[i] }}</td>
           <td>{{ conf.database2[i] }}</td>
           {% endif %}
       </tr>
{% endfor %}

   </table>
   {% set error = app.request.get('error') %}
   {% if error is defined %}
    {{ error }}
    {% endif %}
   <form  action="{{ path('notify') }}" method="post">
       <input id="email" name="email" ></input>
       <button name="submit" type="submit">Submit</button>
   </form>

    {% endblock %}
